#jinja2:lstrip_blocks: True
# {{ ansible_managed }}
---
# lnet.conf - configuration file for lnet routes to be imported by lnetctl
#
# This configuration file is formatted as YAML and can be imported
# by lnetctl.
{% if lustre_lnet_lnetctl_networks is defined %}
net:
{% for network, nids in lustre_lnet_lnetctl_networks.items() %}
    - net type: {{ network }}
      local NI(s):
      {% for nid in nids %}
        - nid: {{ nid.ip }}@{{ network }}
          interfaces:
          {% for interface in nid.interfaces %}
            {{ loop.index0 }}: {{ interface }}
          {% endfor %}
          {% if nid.tunables is defined %}
          tunables:
            {% for param_name, param_value in nid.tunables.items() %}
              {{ param_name }}: {{ param_value }}
            {% endfor %}
          {% endif %}
          {% if nid.lnd_tunables is defined %}
          lnd tunables:
            {% for param_name, param_value in nid.lnd_tunables.items() %}
              {{ param_name }}: {{ param_value }}
            {% endfor %}
          {% endif %}
      {% endfor %}
{% endfor %}
{% endif %}
{% if lustre_lnet_lnetctl_routes is defined %}
route:
{% for network, routes in lustre_lnet_lnetctl_routes.items() %}
  {% for route in routes %}
    - net: {{ network }}
      gateway: {{ route.gateway }}
      {% if route.hop is defined %}
      hop: {{ route.hop }}
      {% endif %}
      {% if route.priority is defined %}
      priority: {{ route.priority }}
      {% endif %}
  {% endfor %}
{% endfor %}
{% endif %}
